@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  /* Hero */
  .hero {
    padding: 188px 0;
    height: 600px;
    max-width: 1440px;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-2x.jpg);
    }
  }
  /* Benefits */
  .benefits {
    padding-top: var(--section-padding);
  }
  .benefits-item {
    width: 264px;
    margin-bottom: 0;
  }
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-light-color);
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  .benefits-icon {
    display: block;
  }
  /* work */
  .work {
    display: block;
  }
  .work-list {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  /* Our Team */

  .team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .team-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* Customers */
  .customers {
    padding-top: 130px;
  }
  .customers-container {
    padding-left: 0;
    padding-right: 0;
  }
  .customers-list {
    flex-wrap: nowrap;
  }
  /* Footer  */
  .footer-container {
    gap: 0;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }

  .social-company {
    margin-left: 120px;
  }

  /* footer-form */
  .footer-form {
    margin-left: 80px;
  }
}
