@media screen and (min-width: 480px) {
  .container {
    max-width: 426px;
  }
  .hero-title {
    font-size: 36px;
    width: 320px;
    margin: 0 auto 48px auto;
  }
  .modal {
    width: 392px;
  }

  .team-social-list {
    padding-left: 0;
    padding-right: 0;
  }
}
